body {
    font-family: 'Quicksand', sans-serif;
    color: $color-primary;
    background-color: $color-secondary;

    input {
        outline: none;
        font-family: 'Quicksand', sans-serif;
        color: $color-primary;
    }

    a {
        text-decoration: none;
        color: $color-primary;
        background-color: $color-secondary;
        font-family: 'Quicksand', sans-serif;
    }

    .fa {
        color: $color-primary;
        background-color: $color-secondary;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
        }
    }
}
