.club-messages-container {
  text-align: left;
  border: 1px $color-primary solid;
  width: 40%;
  padding: 4em;
  margin: 2em auto;
  background: $color-tertiary;
  

  h3 {
    text-align: center;
  }

  li {
    max-width: 100%;
  }

  .edit-delete-buttons {

  }

  .publish-button {

  }
}
