.club-messages-container {
    text-align: left;
    border: 1px $color-primary solid;
    width: 40%;
    padding: 4em;
    margin: 2em auto;
    background: $color-tertiary;

    h3 {
        text-align: center;
    }

    li {
        max-width: 100%;
    }

    input {
        background: $color-secondary;
    }

    a {
      background: $color-tertiary;
      border-bottom: 1px $color-primary solid;
    }
}

@media (max-width: 480px) {
    .club-messages-container {
      width: 100%;
      padding: 0em;
      line-height: 1.5em;
      box-sizing: border-box;

      textarea {
        width: 8em;
      }
    }
}
