.current-container {
    text-align: center;
    border: 1px $color-primary solid;
    width: 45%;
    padding: 4em;
    margin: 0 auto 2em;
    line-height: 1.7em;
    background: $color-tertiary;

    input {
        background: $color-secondary;
    }

    .current-book-messages {
        margin: 2em 0;
        line-height: 1.5em;
    }

    .current-book-message {
        margin: 2em 0;
    }

    .publish-book-note {
        // text-align: left;
    }

    .edit-delete-buttons {}
}
@media (min-width: 480px) {
    .current-container {

      textarea {
        width: 10em;
      }

        div {
            margin: 1em;
        }
    }
}
