.future-container {
    text-align: left;
    border: 1px $color-primary solid;
    width: 45%;
    padding: 4em;
    margin: 0 auto 2em;
    line-height: 1.7em;
    background: $color-tertiary;

    h3 {
        text-align: center;
    }

    .book-messages {
        margin-top: 2em;
        margin-bottom: 4em;
    }

    .add-current {
        margin: 1em 0 2em;
        text-align: left;
        background: $color-quad;
        color: white;
        cursor: pointer;
        cursor: hand;

        input {
            background: $color-secondary;
        }
    }
}
@media (max-width: 480px) {
    .future-container {
        width: 100%;
        padding: 0;
        line-height: 1.5em;
        box-sizing: border-box;

        .book-info {

            div {
                margin: .4em;
            }
        }
    }
}
