.future-container {
  text-align: left;
  border: 1px $color-primary solid;
  width: 45%;
  padding: 4em;
  margin: 2em auto;
  margin-top: 0;
  line-height: 1.7em;

  h3 {
    text-align: center;
  }

  // li {
  //   max-width: 45%;
  //   overflow: auto;
  // }

  .book-info {
    display: inline-block;
    text-align: left;
    position: absolute;
    // max-width: 100%;
  }

  .book-pic {
    display: inline-block;
    position: relative;
  }

  .book-messages {
    margin-top: 2em;
    margin-bottom: 4em;
    // max-width: 100%
  }

  .add-current {
    margin: 1em 0 2em 0;;

  }
}
