.heading {
  text-align: center;
  color: white;
  padding: 2em;
  background: url("../../assets/images/spines.jpg") no-repeat center center;
  background-size: cover;
  height: 4em;
  margin: 0 auto;
}

.home {
  text-align: center;
  border: 1px $color-primary solid;
  width: 40%;
  padding: 4em;
  margin: 2em auto;
}
