.home {
    text-align: center;
    border: 1px $color-primary solid;
    width: 40%;
    padding: 4em;
    margin: 2em auto;
    background: $color-tertiary;

    a {
      background: $color-tertiary;

    }

    .create-club-div {
        margin-top: 2em;
    }

    .create-club-link {
            border-bottom: 1px solid $color-primary;
        }

}
