.add-image-container {
  text-align: center;
  border: 1px $color-primary solid;
  width: 40%;
  padding: 4em;
  margin: 2em auto;
  background: $color-tertiary;
  

  input {
    margin: .5em;
  }


  img {
      max-width: 50%;
      height: 10em;
      width: 9.5em;
  }
}

.dropzone > div {
  margin: 0 auto;
  background: $color-tertiary;
  padding: 1em;
  padding-top: 4em;
}
