.login-form {
  text-align: center;
  margin-top: 3em;
  text-align: center;
  border: 1px $color-primary solid;
  width: 40%;
  padding: 4em;
  margin: 2em auto;
  background: $color-tertiary;

  .login {
    background: $color-secondary;
  }

  input {
    margin: 1em;
    border: 1px solid $color-primary;
  }
}
