.login-form {
  text-align: center;
  margin-top: 3em;
  text-align: center;
  border: 1px $color-primary solid;
  width: 40%;
  padding: 4em;
  margin: 2em auto;
  background: $color-tertiary;

  input {
    margin: .8em 0;
    border: 1px solid $color-primary;
    padding: 15px;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
  }

  .login {
    background: #428EAF;
    color: white;
    cursor: pointer;
    cursor: hand;
  }
}
