.app-name {
    display: inline-block;
    vertical-align: center;
}

.welcome {
    text-align: center;
    margin-top: 2em;
}

.nav {
    padding: 2em;
    float: right;
    display: inline-block;
    vertical-align: center;
    position: relative;

    .nav::after {
        clear: both;
        content: "";
        display: block;
    }

    .logged-out {
        a {
            color: $color-primary;
            font-size: 1em;
            padding-left: 0.5em;
            margin: 0.5em;
            text-align: center;
            cursor: pointer;
            cursor: hand;
        }
    }

    .logged-in {
        a {
            color: $color-primary;
            font-size: 0.75em;
            padding-left: 0.5em;
            margin: 0.5em;
            text-align: center;

        }

        .logout {
            background: $color-secondary;
            color: $color-primary;
            font-size: 0.75em;
            border: none;
            padding-left: 0.5em;
            margin: 0.5em;
            text-align: center;
        }
    }
}
@media (min-width: 481px) and (max-width: 587px) {
  .nav {
    margin-top: -5.25em;
  }
}

@media (max-width: 480px){
    .app-name {
        font-size: 1.5em;
        vertical-align: center;
    }

    .nav {
        float: right;
        margin-top: -56px;
        display: inline-block;
        position: relative;
    }

    .logged-in {
      font-size: 13px;
      margin-top: -14px;
    }

    .logged-out {
        margin-top: 2.9em;
    }
}
