.app-name {
  display: inline-block;
}

.nav {
    padding: 2em;

.nav::after {
    clear: both;
    content: "";
    display: block;
}

    .logged-out {
      float: right;
      display: inline-block;
        a {
            // border: 2px solid $color-primary;
            // padding: 1em;
            // margin: 0 auto 1em;
            // border-radius: 10%;
            color: $color-primary;
            display: inline-block;
            // width: 9%;
        }
    }

    .logged-in {
        float: right;
        display: inline-block;

        a {
            color: $color-primary;
            font-size: 0.75em;
            padding-left: 0.5em;
            margin: 0.5em;
            text-align: center;
        }

        .logout {
            background: $color-secondary;
            color: $color-primary;
            font-size: 0.75em;
            border: none;
            padding-left: 0.5em;
            margin: 0.5em;
            text-align: center;
        }
    }
}
