.app-name {
  display: inline-block;
  vertical-align: center;
}

.welcome {
  text-align: center;
  margin-top: 2em;
}

.nav {
    padding: 2em;
    float: right;
    display: inline-block;
    vertical-align: center;
    position: relative;

.nav::after {
    clear: both;
    content: "";
    display: block;
}

    .logged-out {

        a {
          color: $color-primary;
          font-size: 1em;
          padding-left: 0.5em;
          margin: 0.5em;
          text-align: center;
        }
    }

    .logged-in {

        a {
            color: $color-primary;
            font-size: 0.75em;
            padding-left: 0.5em;
            margin: 0.5em;
            text-align: center;
        }

        .logout {
            background: $color-secondary;
            color: $color-primary;
            font-size: 0.75em;
            border: none;
            padding-left: 0.5em;
            margin: 0.5em;
            text-align: center;
        }
    }
}
