.create-club {
    text-align: center;
    border: 1px $color-primary solid;
    width: 45%;
    padding: 4em;
    margin: 2em auto;
    line-height: 1.7em;
    background: $color-tertiary;

    #create-club {
      background: $color-quad;
      color: white;
      cursor: pointer;
      cursor: hand;
    }

  }

  @media (max-width: 480px) {
    .create-club {
      width: 100%;
      padding: 0em;
      line-height: 1.5em;
      box-sizing: border-box;

      textarea {
        width: 10em;
      }
  }
}
