.past-container {
    text-align: left;
    border: 1px $color-primary solid;
    width: 45%;
    padding: 4em;
    margin: 0 auto 2em;
    line-height: 1.7em;
    background: $color-tertiary;

    h3 {
        text-align: center;
    }

    .book-info {
      display: inline-block;
      text-align: left;
      max-width: calc(100% - 98px);
      padding: 0 0 0 10px;
      box-sizing: border-box;
    }

    .book-pic {
        display: inline-block;
        position: relative;
        vertical-align: top;

    }

    .book-messages {
        margin-top: 2em;
        margin-bottom: 4em;
    }
}

@media(min-width: 480px) {
    .past-container {
        text-align: center;

        .book-info {

            div {
                margin: 1em;
            }
        }
    }
}
