.profile {
    text-align: center;
    border: 1px $color-primary solid;
    width: 40%;
    padding: 4em;
    margin: 2em auto;
    background: $color-tertiary;


    img {
        height: 10em;
        width: 9.5em;
    }

    .add-pic {
      margin: 2em 0 2em 0;
      background: $color-secondary;
    }

    .profile-save {
      background: $color-secondary;
    }

    .edit-bio {
      background: $color-secondary;
    }

    .bio {
      margin: 1em;
    }

    .club-messages {
        border: 1px $color-primary dashed;
        padding: .25em;
        margin: 2em 0;
        line-height: 1.5em;
        height: 10em;
        overflow: scroll;

        li {
            margin: 2em 0;
        }
    }

    .book-messages {
        border: 1px $color-primary dashed;
        margin: 2em 0;
        padding: .25em;
        line-height: 1.5em;
        height: 10em;
        overflow: scroll;

        li {
            margin: 2em 0;
        }
    }
}


  @media (max-width: 480px) {

    .profile {
      textarea {
        width: 8em;
      }
  }
}
