.profile {
    text-align: center;
    border: 1px $color-primary solid;
    width: 40%;
    padding: 4em;
    margin: 2em auto;

    img {
        height: 10em;
        width: 9.5em;
    }

    .add-pic {
      margin: 2em 0 2em 0;
    }

    .club-messages {
        margin: 2em 0;
        line-height: 1.5em;

        li {
            margin: 2em 0;
        }
    }

    .book-messages {
        margin: 2em 0;
        line-height: 1.5em;

        li {
            margin: 2em 0;
        }
    }
}
