.search-container {
    text-align: left;
    border: 1px $color-primary solid;
    width: 45%;
    padding: 4em;
    margin: 0 auto 2em;
    line-height: 1.7em;
    background: $color-tertiary;

    .hidden {
      display: none;
    }

    .search-item {
        margin-bottom: 2em;

        input {
            background: $color-secondary;
        }
    }
}

@media (max-width: 480px) {
    .search-container {
        width: 100%;
        padding: 0em;
        line-height: 1.5em;
        box-sizing: border-box;

        div {
            margin: .4em;
        }
    }
}
